/* @tailwind base; */
@tailwind components;
@tailwind utilities;

/* Custom Cursor */
.cursor-dot,
.cursor-circle {
    pointer-events: none;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.cursor-dot {
    width: 8px;
    height: 8px;
    background-color: #0A3D62;
}

.cursor-circle {
    width: 40px;
    height: 40px;
    border: 1px solid #0A3D62;
    transition: width 0.2s, height 0.2s, background-color 0.2s;
}

body.hovering .cursor-circle {
    width: 60px;
    height: 60px;
    background-color: rgba(10, 61, 98, 0.1);
    border-color: transparent;
}